<div class="section-title">
    <h2>Contact</h2>
</div>

<div class="row" data-aos="fade-in">

    <div class="col d-flex align-items-stretch">
        <div class="info" *ngFor="let detail of userDetail">
            <div class="{{detail.classname}}">
                <i [class]="detail.icon"></i>
                <h4>{{detail.title}}</h4>
                <p>{{detail.value}}</p>
            </div>
        </div>

    </div>

</div>