<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">

  <app-sidebar></app-sidebar>

</header>

<main id="main">

  <section id="about" class="about">
    <div class="container">

      <app-about></app-about>

    </div>
  </section>

  <section id="skill" class="services">
    <div class="container">

      <app-skills></app-skills>

    </div>
  </section>


  <section id="projects" class="facts">
    <div class="container">

      <app-projects></app-projects>

    </div>
  </section>

  <section id="education" class="resume">
    <div class="container">

      <app-education></app-education>

    </div>
  </section>

  <section id="award" class="contact">
    <div class="container">

      <app-award></app-award>

    </div>
  </section>

  <section id="contact" class="contact">
    <div class="container">

      <app-contact></app-contact>

    </div>
  </section>

</main>